[Unit]
Description=draind power management daemon
After=local-fs.target systemd-logind.service
Requires=systemd-logind.service

[Service]
Type=simple
ExecStart=/usr/bin/draind
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
