[Unit]
Description=draind per-user agent
After=default.target
ConditionUser=!@system
ConditionUser=!root

[Service]
Type=simple
ExecStart=/usr/bin/draind-agent
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
