[Unit]
Description=draind power management daemon
After=local-fs.target

[Service]
Type=forking
PIDFile=/run/draind.pid
ExecStart=/usr/bin/draind
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
